# Pandas

`pandas` – это библиотека для анализа, очистки и преобразования данных табличных данных в Python. Она предоставляет мощные для работы с табличными (DataFrame) и одномерными (Series) данными. Последнее используется, как правило, для временны́х рядов, а первое, в подавляющем числе случаев, для всего остального.

Установка: `pip install pandas`. Если при виде этого хочется спросить: "И что с этим делать?", то ответ будет в прошлой части.

Импорт:

In [2]:
import pandas as pd
import numpy as np

## Series

Создадим простую последовательность.

In [8]:
data = [10, 20, 30, 40, 50] # обычный список
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Обратим внимание, что индексы были проставлены автоматически. 

О поддержке numpy многими библиотеками мы в прошлый раз говорили не зря.

In [ ]:
data = np.array(data) # массив numpy также поддерживается
series = pd.Series(data)
print(series)

Можем также сделать кастомную индексацию. Мы к ней ещё вернёмся позже.

In [13]:
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(series)

a    10
b    20
c    30
dtype: int64

## DataFrame

Датафрейм $\text{---}$ по сути табличные данные, как в реляционной БД или Excel (или его аналоге). 

Создадим его из словаря. Здесь ключи $\text{---}$ название столбцов, список в значениях $\text{---}$ строки каждого конкретного столбца.

In [33]:
data = {
    'Имя': ['Анна', 'Борис', 'Виктор'],
    'Возраст': [25, 30, 22],
    'Город': ['Москва', 'СПб', 'Казань']
}
df = pd.DataFrame(data)
print(df)

      Имя  Возраст   Город
0    Анна       25  Москва
1   Борис       30     СПб
2  Виктор       22  Казань

### Атрибуты `DataFrame`

In [29]:
df.shape # размер

(3, 3)

In [30]:
df.columns # Названия колонок

Index(['Имя', 'Возраст', 'Город'], dtype='object')

In [31]:
print(df.index) # Индексы строк

RangeIndex(start=0, stop=3, step=1)

* `start=0` $\text{---}$ индекс начинается с $0$,
* `stop=3` $\text{---}$ до трёх (не включая),
* `step=1` $\text{---}$ с шагом $1$.

## Загрузка и сохранение данных

Pandas поддерживает несколько источников данных: csv, Excel таблицы (и их заменители, аналогичные натуральному), базы данных и json. Наиболее распространённый (во всяком случае в некоммерческих ситуациях) $\text{---}$ это csv. 

CSV (Comma-Separated Values, "значения, разделённые запятыми") $\text{---}$ это простой текстовый формат для хранения табличных данных. Каждая строка $\text{---}$ это одна запись (строка таблицы), а значения (столбцы/ячейки) внутри неё (строки) разделяются запятыми, а также точками с запятой, табуляцией или другими разделителями.

Для прочтения файла необходимо знать какой именно разделитель используется. Можно просто открыть файл и посмотреть, можно сделать иначе.

Если вы используете линукс, то можете просто использовать `head`:

In [ ]:
!head housing.csv

Для Windows легче просто открыть и посмотреть файл. Но если есть нужда, то можно использовать следующий скрипт:

In [21]:
number_lines = 5
with open('housing.csv', 'r') as f:
    for _ in range(number_lines): 
        print(f.readline().strip())

Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
79545.45857,5.682861322,7.009188143,4.09,23086.8005,1059033.558,"208 Michael Ferry Apt. 674
Laurabury, NE 37010-5101"
79248.64245,6.002899808,6.730821019,3.09,40173.07217,1505890.915,"188 Johnson Views Suite 079
Lake Kathleen, CA 48958"

Здесь в конструкции `with` мы открываем для чтения (`'r'`) и **закрываем** файл после использования. 

Как мы убедились, данный csv файл использует запятую в качестве разделителя, а также здесь нет столбца с индексами (в таком случае необходимо было бы либо указать, что данный столбец нужно использовать в качестве индекса; иногда когда данные заранее разбиты на несколько частей (например, обучение и тест) имеет смысл игнорировать столбец с индексами и переприсвоить им свои, т.к. в файлах могут быть индексы с пропусками).

### Загрузка данных

Сделать датафрейм из csv файла легко.

In [22]:
df = pd.read_csv('housing.csv')
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

### Сохранение данных

Если нам нужно сохранить датафрейм в файл, то сделать это также просто.

In [ ]:
df.to_csv('output.csv', index=False)

## Основные операции с `DataFrame`

### Обзор данных

#### `head` и `tail`

В функцию можно передать желаемое количество строк для вывода, по умолчанию выводит 5 строк. Обычно используется head для получения представления о данных, что там есть вообще.

In [13]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [9]:
df.tail()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1060193.786,USNS Williams\nFPO AP 30153-7653
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1482617.729,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1030729.583,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1198656.872,USS Wallace\nFPO AE 73316
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1298950.480,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

#### `info`

Краткая информация: количество строк, типы данных, количество непустых значений:

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

#### `describe`

Это очень полезная функция, поскольку даёт много информации в компактном объёме. Отсюда можно узнать:
* Есть ли пропущенные значения (если `count` меньше, чем количество строк, убедимся на следующем датасете)
* Признаки с аномально высокими или низкими значениями (`min`/`max`)
* Признаки с перекошенным распределением (`mean` (среднее) далеко от $50\%$ (медиана))
* Стандартное отклонение `std`, а также его сравнение между колонками (где больше стандартное отклонение, где меньше)
* Признаки с низкой дисперсией (`std` $\approx 0$) могут быть бесполезны для машинного обучения

In [20]:
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562390,5.322283,6.299250,3.140000,29403.928700,9.975771e+05
50%,68804.286405,5.970429,7.002902,4.050000,36199.406690,1.232669e+06
75%,75783.338665,6.650808,7.665871,4.490000,42861.290770,1.471210e+06
max,107701.748400,9.519088,10.759588,6.500000,69621.713380,2.469066e+06

### Обработка данных

Для этой секции нам нужен другой датасет. К сожалению, я не нашёл датасета с меньшим количеством столбцов, а создавать датасет самому казалось слишком искусственным и неинтересным. Главное не пугайтесь, что все столбцы не помещаются на экране.

In [3]:
file_name = 'AmesHousing.csv' 
number_lines = 5
with open(file_name, 'r') as f:
    for _ in range(number_lines): 
        print(f.readline().strip())

Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1,0526301100,020,RL,141,31770,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,BrkFace,Plywood,Stone,112,TA,TA,CBlock,TA,Gd,Gd,BLQ,639,Unf,0,441,1080,GasA,Fa,Y,SBrkr,1656,0,0,1656,1,0,1,0,3,1,TA,7,Typ,2,Gd,Attchd,1960,Fin,2,528,TA,TA,P,210,62,0,0,0,0,NA,NA,NA,0,5,2010,WD ,Normal,215000
2,0526350040,020,RH,80,11622,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0,TA,TA,CBlock,TA,TA,No,Rec,468,LwQ,144,270,882,GasA,TA,Y,SBrkr,896,0,0,896,0,0,1,0,2,1,TA,5,Typ,0,NA,Attchd,1961,Unf,1,730,TA,TA,Y,140,0,0,0,120,0,NA,MnPrv,NA,0,6,2010,WD ,Normal,105000
3,0526351010,020,RL,81,14267,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108,TA,TA,CBlock,TA,TA,No,ALQ,923,Unf,0,406,1329,GasA,TA,Y,SBrkr,1329,0,0,1329,0,0,1,1,3,1,Gd,6,Typ,0,NA,Attchd,1958,Unf,1,312,TA,TA,Y,393,36,0,0,0,0,NA,NA,Gar2,12500,6,2010,WD ,Normal,172000
4,0526353030,020,RL,93,11160,Pave,NA,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,7,5,1968,1968,Hip,CompShg,BrkFace,BrkFace,None,0,Gd,TA,CBlock,TA,TA,No,ALQ,1065,Unf,0,1045,2110,GasA,Ex,Y,SBrkr,2110,0,0,2110,1,0,2,1,3,1,Ex,8,Typ,2,TA,Attchd,1968,Fin,2,522,TA,TA,Y,0,0,0,0,0,0,NA,NA,NA,0,4,2010,WD ,Normal,244000

Здесь у нас есть индекс (столбец `Order`), поэтому будем использовать его.

In [4]:
df = pd.read_csv(file_name, index_col=0)
df.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
Order,,,,,,,,,,,,,,,,,,,,,
1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

#### Пропущенные значения

Первый способ. Сравнение размеров и информации из `describe`.

Информация не помещается полностью, поэтому в VS Code можно открыть либо как прокручиваемый элемент, либо в отдельной вкладке.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2930 entries, 1 to 2930
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2930 non-null   int64
 1   MS SubClass      2930 non-null   int64
 2   MS Zoning        2930 non-null   object
 3   Lot Frontage     2440 non-null   float64
 4   Lot Area         2930 non-null   int64
 5   Street           2930 non-null   object
 6   Alley            198 non-null    object
 7   Lot Shape        2930 non-null   object
 8   Land Contour     2930 non-null   object
 9   Utilities        2930 non-null   object
 10  Lot Config       2930 non-null   object
 11  Land Slope       2930 non-null   object
 12  Neighborhood     2930 non-null   object
 13  Condition 1      2930 non-null   object
 14  Condition 2      2930 non-null   object
 15  Bldg Type        2930 non-null   object
 16  House Style      2930 non-null   object
 17  Overall Qual     2930 non-null   int64
 18  Overall Cond     2930 non-null   int64
 19  Year Built       2930 non-null   int64
 20  Year Remod/Add   2930 non-null   int64
 21  Roof Style       2930 non-null   object
 22  Roof Matl        2930 non-null   object
 23  Exterior 1st     2930 non-null   object
 24  Exterior 2nd     2930 non-null   object
 25  Mas Vnr Type     1155 non-null   object
 26  Mas Vnr Area     2907 non-null   float64
 27  Exter Qual       2930 non-null   object
 28  Exter Cond       2930 non-null   object
 29  Foundation       2930 non-null   object
 30  Bsmt Qual        2850 non-null   object
 31  Bsmt Cond        2850 non-null   object
 32  Bsmt Exposure    2847 non-null   object
 33  BsmtFin Type 1   2850 non-null   object
 34  BsmtFin SF 1     2929 non-null   float64
 35  BsmtFin Type 2   2849 non-null   object
 36  BsmtFin SF 2     2929 non-null   float64
 37  Bsmt Unf SF      2929 non-null   float64
 38  Total Bsmt SF    2929 non-null   float64
 39  Heating          2930 non-null   object
 40  Heating QC       2930 non-null   object
 41  Central Air      2930 non-null   object
 42  Electrical       2929 non-null   object
 43  1st Flr SF       2930 non-null   int64
 44  2nd Flr SF       2930 non-null   int64
 45  Low Qual Fin SF  2930 non-null   int64
 46  Gr Liv Area      2930 non-null   int64
 47  Bsmt Full Bath   2928 non-null   float64
 48  Bsmt Half Bath   2928 non-null   float64
 49  Full Bath        2930 non-null   int64
 50  Half Bath        2930 non-null   int64
 51  Bedroom AbvGr    2930 non-null   int64
 52  Kitchen AbvGr    2930 non-null   int64
 53  Kitchen Qual     2930 non-null   object
 54  TotRms AbvGrd    2930 non-null   int64
 55  Functional       2930 non-null   object
 56  Fireplaces       2930 non-null   int64
 57  Fireplace Qu     1508 non-null   object
 58  Garage Type      2773 non-null   object
 59  Garage Yr Blt    2771 non-null   float64
 60  Garage Finish    2771 non-null   object
 61  Garage Cars      2929 non-null   float64
 62  Garage Area      2929 non-null   float64
 63  Garage Qual      2771 non-null   object
 64  Garage Cond      2771 non-null   object
 65  Paved Drive      2930 non-null   object
 66  Wood Deck SF     2930 non-null   int64
 67  Open Porch SF    2930 non-null   int64
 68  Enclosed Porch   2930 non-null   int64
 69  3Ssn Porch       2930 non-null   int64
 70  Screen Porch     2930 non-null   int64
 71  Pool Area        2930 non-null   int64
 72  Pool QC          13 non-null     object
 73  Fence            572 non-null    object
 74  Misc Feature     106 non-null    object
 75  Misc Val         2930 non-null   int64
 76  Mo Sold          2930 non-null   int64
 77  Yr Sold          2930 non-null   int64
 78  Sale Type        2930 non-null   object
 79  Sale Condition   2930 non-null   object
 80  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [27]:
df.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,2929.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,442.629566,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,455.590839,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,734.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

Сравнив количество строк из `info` и количество непустых значений в каждом из столбцов можно понять, в каких столбцах есть пропуски.

Второй способ. `isna` и `isnull` $\text{---}$ это функции синонимы, они ничем не отличаются (вторая просто по аналогии с SQL), обе переводят значения в булевы, если значение отсутствует (NA), то `isna` возвращает `True`, в противном случае $\text{---}$ `False`.

In [29]:
df.isna()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
Order,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2926,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2927,False,False,False,True,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2928,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2929,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2930,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False

Как видим, в столбцах `Alley`, `Pool QC` и других есть пропущенные данные.

In [15]:
pd.set_option('display.max_rows', None) # отключаем ограничение у самого pd
                                        # но при этом остаётся ограничение 
                                        # в Jupyter
df.isna().sum()

PID                   0
MS SubClass           0
MS Zoning             0
Lot Frontage        490
Lot Area              0
Street                0
Alley              2732
Lot Shape             0
Land Contour          0
Utilities             0
Lot Config            0
Land Slope            0
Neighborhood          0
Condition 1           0
Condition 2           0
Bldg Type             0
House Style           0
Overall Qual          0
Overall Cond          0
Year Built            0
Year Remod/Add        0
Roof Style            0
Roof Matl             0
Exterior 1st          0
Exterior 2nd          0
Mas Vnr Type       1775
Mas Vnr Area         23
Exter Qual            0
Exter Cond            0
Foundation            0
Bsmt Qual            80
Bsmt Cond            80
Bsmt Exposure        83
BsmtFin Type 1       80
BsmtFin SF 1          1
BsmtFin Type 2       81
BsmtFin SF 2          1
Bsmt Unf SF           1
Total Bsmt SF         1
Heating               0
Heating QC            0
Central Air           0
Electrical            1
1st Flr SF            0
2nd Flr SF            0
Low Qual Fin SF       0
Gr Liv Area           0
Bsmt Full Bath        2
Bsmt Half Bath        2
Full Bath             0
Half Bath             0
Bedroom AbvGr         0
Kitchen AbvGr         0
Kitchen Qual          0
TotRms AbvGrd         0
Functional            0
Fireplaces            0
Fireplace Qu       1422
Garage Type         157
Garage Yr Blt       159
Garage Finish       159
Garage Cars           1
Garage Area           1
Garage Qual         159
Garage Cond         159
Paved Drive           0
Wood Deck SF          0
Open Porch SF         0
Enclosed Porch        0
3Ssn Porch            0
Screen Porch          0
Pool Area             0
Pool QC            2917
Fence              2358
Misc Feature       2824
Misc Val              0
Mo Sold               0
Yr Sold               0
Sale Type             0
Sale Condition        0
SalePrice             0
dtype: int64

***

***

Если у нас кастомные индексы, то они не продолжатся автоматически. Убедитесь, что новая добавляемая последовательность не нарушает логику индексации старой (или убедитесь, что вас это не волнует в достаточной мере).

In [ ]:
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
series = pd.concat([series, pd.Series([40])])
series